# Visual Studio cache/options directory
.vs/

# Build results
[Oo]bj
[Oo]bj/*
[Bb]in
[Bb]in/*
[Dd]ebug
[Rr]elease

# Compiled source
*.exe
*.dll

# User-specific files
*.user

# Junk Files
[Tt]humbs.db

# Custom application assets/resources
[Rr]es
[Rr]esources
*.ico
